.glass-navbar {
  background: rgba(255, 255, 255, 0.127); /* Transparent white */
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  /* border: 1px solid rgba(255, 255, 255, 0.18); */
  border-radius: 1rem;
  z-index: 1000;
  margin: 1rem;
}

.navbar .nav-link {
  font-weight: 500;
  transition: color 0.3s;
}

.navbar .nav-link:hover {
  color: #e0e0e0;
}

.navbar-toggler {
  border: none;
}
